dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4c6a7a8f-e5b9-452c-8de1-c6d6fc039f18" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="abb42039-fd41-4747-8f5b-431f3c9d7be0" >
		<http:listener doc:name="Listener" doc:id="d0bad1b1-c628-406e-b332-3690d1c953f1" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ba4b5406-6d3d-4b30-988d-124f60121f40" />
	</flow>
</mule>
